.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GoogleService-Info.plist
macos/Flutter/GeneratedPluginRegistrant.swift
firebase_options.dart
*.env
.env
functions/.env
*service-account*.json
*service_account*.json
upload-keystore.jks
android/key.properties
functions/lib/
functions/node_modules/
functions/.runtimeconfig.json
